@charset "UTF-8";
/* Variables */
/*$colores: (
	fondo1: rgb(15, 15, 15),
	fondo2: rgb(40, 40, 40),
	fondoTras: rgba(40, 40, 40, .7),
	ppal1: rgb(170, 0, 0),
	ppal2: rgb(128, 0, 0),
	ppalTras: rgba(128, 0, 0, 0.9),
	ppalHover: rgb(90, 0, 0),
	ppalActive: rgb(70, 0, 0),
	sec1: rgb(220, 220, 220),
	sec2: rgb(190, 190, 190),
	secTras: rgba(190, 190, 190, .5),
	ter: rgb(150, 150, 150),
	terHover: rgb(120, 120, 120),
	terActive: rgb(90, 90, 90)
);*/
/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', "Times New Roman", Times, serif;
  font-weight: 300;
  color: white;
  font-size: 18px; }

/* Agregué este bloque porque bootstrap me cambiá el color */
a {
  color: white; }

/* ----- Formato predeterminado para los títulos ----- */
.titulo {
  text-align: center;
  text-shadow: 2px 2px 5px #e5383b;
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: #f5f3f4;
  margin: 50px; }

/* Componentes del layout */
.body-container {
  background-color: #0b090a;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header" "nav" "body" "footer"; }

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .header li {
    display: inline; }
  .header-lang {
    margin: 10px;
    display: flex;
    align-items: flex-start; }
    .header-lang li {
      display: inline; }
      .header-lang li img {
        width: 26px;
        height: 20px;
        margin: 0 3px; }
        .header-lang li img:hover {
          opacity: .5; }
  .header-redes {
    display: inline-grid;
    justify-items: end;
    list-style-type: none;
    margin: 10px 0px 0px 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "head"  "foot"; }
    .header-redes ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .header-redes li {
      grid-area: foot;
      margin: 0 10px; }
    .header-redes p {
      font-size: 18px;
      width: 100%;
      flex-shrink: 0;
      grid-area: head;
      text-align: center;
      margin-bottom: 3px; }
    .header-redes i:hover {
      opacity: .5; }

.navbar {
  background: rgba(186, 24, 27, 0.8);
  border: outset 3px #f5f3f4;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 90%;
  padding: 0;
  position: sticky;
  top: 10px;
  z-index: 100;
  padding: 3px; }
  .navbar:hover {
    background: #e5383b; }
  .navbar-brand-responsive {
    display: none; }
  .navbar-toggler {
    padding: 8px; }
  .navbar-brand {
    height: 69px; }
  .navbar-logo {
    height: 100%; }
    .navbar-logo:hover {
      opacity: .7; }
  .navbar-collapse {
    width: 100%; }
  .navbar-nav {
    width: 100%; }

.nav-item, .nav-item a {
  display: inline;
  letter-spacing: 2px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 5px; }

.nav-item:last-child {
  position: absolute;
  right: 10px;
  border-left: solid 1px #f5f3f4;
  border-radius: 0; }

.nav-link {
  color: white; }
  .nav-link:hover {
    background: rgba(22, 26, 29, 0.8); }

.dropdown-menu {
  background: rgba(186, 24, 27, 0.8);
  border: outset 3px #f5f3f4;
  border-radius: 5px; }
  .dropdown-menu:hover {
    background: #e5383b; }
  .dropdown-menu li {
    margin: 10px; }
    .dropdown-menu li .dropdown-item {
      color: white; }
      .dropdown-menu li .dropdown-item:hover {
        background-color: rgba(22, 26, 29, 0.8); }

footer {
  grid-area: footer; }

.footer {
  display: flex;
  justify-content: space-around; }
  .footer__div {
    flex-grow: 1;
    margin: .5%;
    border: outset 3px white;
    width: 40%; }
    .footer__div h4 {
      font-size: 1em;
      margin: 5px;
      text-decoration: underline; }
    .footer__div-text {
      margin: 5%;
      text-align: left; }
      .footer__div-text p {
        font-size: 0.8em; }
        .footer__div-text p:last-child {
          text-align: center; }
    .footer__div:last-child {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .footer__div:last-child h4 {
        width: 100%; }
      .footer__div:last-child iframe {
        height: 40vh;
        margin: 5%; }

.buttonContainer {
  width: 100%; }

.button {
  background-color: #e5383b;
  border: outset 3px white;
  border-radius: 10px; }
  .button a {
    text-decoration: none; }
  .button:hover {
    background-color: #660708;
    color: #f5f3f4;
    border: outset 3px #f5f3f4; }
  .button:active {
    background: #500708;
    border: outset 3px #b1a7a6; }
  .button-index {
    display: inline-block;
    position: relative;
    margin: 50px 0 100px 0;
    padding: 20px;
    letter-spacing: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .button-reservas {
    margin-top: 20px;
    font-size: 1em;
    padding: 10px; }

.button-up {
  display: inline-block;
  text-decoration: none;
  border: outset 3px white;
  padding: 5px;
  margin: 10px; }
  .button-up:hover {
    color: #f5f3f4;
    border: outset 3px #b1a7a6; }

/* Páginas */
/* Index */
.main-image {
  background-image: url("../assets/img/frente1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative; }
  .main-image-text {
    background-color: rgba(245, 245, 245, 0.5);
    color: #0b090a;
    border-radius: 50px;
    padding: 0 15px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .main-image-title {
    background-color: transparent;
    color: #0b090a;
    text-shadow: 2px 2px 5px #e5383b;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 2px; }

.main-texto {
  margin: 8%; }
  .main-texto p {
    font-size: 1.5em;
    text-align: center;
    margin: 100px 0; }

.main-image2 {
  background-image: url("../assets/img/frente2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  max-width: 100%;
  position: relative; }
  .main-image2-text {
    background-color: rgba(245, 245, 245, 0.5);
    color: #0b090a;
    border-radius: 50px;
    padding: 0 15px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .main-image2-text h3 {
      font-size: 1.8em; }
  .main-image2-title {
    background-color: transparent;
    padding: 10px;
    color: #0b090a;
    text-shadow: 2px 2px 5px white;
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: 2px; }

.main-index-div {
  margin: 100px 0;
  text-align: center; }
  .main-index-div h3 {
    font-size: 1.8em;
    margin-bottom: 20px; }
  .main-index-div p {
    font-size: 1em; }

/* Quienes somos */
.carousel {
  width: 100%; }
  .carousel-inner {
    width: 100%;
    height: 80vh; }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(186, 24, 27, 0.8);
    border-radius: 100%; }

.quienes-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh; }
  .quienes-text-div {
    width: 100%; }
    .quienes-text-div:first-child {
      margin: 100px 0; }
    .quienes-text-div div {
      display: inline-block; }
    .quienes-text-div h3 {
      font-size: 2.5em; }
    .quienes-text-div p {
      font-size: 1em; }

.quienes-innerText {
  width: 30%;
  padding: 5px; }
  .quienes-innerText h4 {
    margin-bottom: 3%;
    font-size: 1.8em;
    padding-top: 20%; }
  .quienes-innerText p {
    font-size: 0.8em;
    margin: 3%; }

#quienes-innerImg-1 {
  width: 55%;
  float: right; }
  #quienes-innerImg-1 img {
    width: 100%; }

#quienes-innerImg-2 {
  width: 60%;
  float: left; }
  #quienes-innerImg-2 img {
    width: 100%; }

/* Menu */
.main-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-evenly; }
  .main-menu-title {
    width: 100%;
    flex-shrink: 0; }
  .main-menu-item {
    width: 45%;
    margin: 2%;
    position: relative;
    background-color: #0b090a;
    border-bottom: none; }
    .main-menu-item img {
      width: 100%;
      border-radius: 10px; }
    .main-menu-item .accordion-header .accordion-button {
      background-color: rgba(186, 24, 27, 0.8);
      font-size: 2.5em;
      color: #f5f3f4;
      text-shadow: 2px 2px 5px #0b090a;
      letter-spacing: 2px;
      text-align: center;
      position: absolute;
      top: 10%;
      width: 100%; }
      .main-menu-item .accordion-header .accordion-button:focus {
        box-shadow: 0 0 5px 5px #f5f3f4; }
    .main-menu-item .accordion-collapse {
      background-color: #e5383b; }
      .main-menu-item .accordion-collapse .accordion-body p:first-child {
        text-align: center;
        border-bottom: solid 1px #f5f3f4;
        padding: 20px; }
      .main-menu-item .accordion-collapse .accordion-body h3 {
        font-size: 1.5em; }
      .main-menu-item .accordion-collapse .accordion-body p {
        font-size: 1em;
        text-align: center; }

/* Eventos */
.main-eventos {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr; }
  .main-eventos div {
    margin-bottom: 10vh; }
    .main-eventos div img {
      width: 100%; }
  .main-eventos p {
    padding: 5px;
    margin: 30px;
    text-align: right;
    border-right: solid 1px #f5f3f4;
    font-size: 1.5em; }

/* Reservas */
.main-reservas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10vh; }
  .main-reservas-div {
    width: 45%;
    text-align: center; }
    .main-reservas-div h3 {
      margin-top: 10%;
      font-size: 2.5em; }
    .main-reservas-div h4 {
      margin-top: 40%;
      font-size: 1.8em; }
    .main-reservas-div p {
      font-size: 1em;
      margin: 20px; }
  .main-reservas-form {
    padding: 40px;
    width: 45%;
    margin-top: 5%;
    background-image: linear-gradient(to bottom right, #161a1d, #0b090a 40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 300; }
    .main-reservas-form div {
      margin: 10px; }
    .main-reservas-form label, .main-reservas-form legend {
      text-align: center; }
    .main-reservas-form .form-datos {
      width: 100%;
      padding: 10px;
      border: outset 3px white;
      border-radius: 10px;
      background-color: #0b090a;
      margin-bottom: 10px;
      font-size: 1em; }
      .main-reservas-form .form-datos:focus {
        border: outset 3px #f5f3f4;
        background-color: #161a1d; }
    .main-reservas-form .form-comensales {
      text-align: center;
      margin-bottom: 10px; }
      .main-reservas-form .form-comensales label {
        font-size: 1.5em; }
      .main-reservas-form .form-comensales .form-selection {
        padding: 10px;
        border: outset 3px white;
        border-radius: 10px;
        background-color: #0b090a; }
        .main-reservas-form .form-comensales .form-selection option {
          color: white; }
        .main-reservas-form .form-comensales .form-selection:focus {
          border: outset 3px #f5f3f4;
          background-color: #161a1d; }
    .main-reservas-form .form-turno {
      font-size: 1.5em;
      margin-bottom: 10px; }
      .main-reservas-form .form-turno .form-check {
        margin-left: 10%; }
        .main-reservas-form .form-turno .form-check-input:checked {
          background-color: #a4161a;
          border-color: #a4161a; }
        .main-reservas-form .form-turno .form-check-input:focus {
          box-shadow: 0 0 2px 2px #a4161a; }
        .main-reservas-form .form-turno .form-check label {
          font-size: 1em; }
    .main-reservas-form .form-lugar {
      font-size: 1.5em;
      margin-bottom: 10px; }
      .main-reservas-form .form-lugar .form-check {
        margin-left: 10%; }
        .main-reservas-form .form-lugar .form-check-input:checked {
          background-color: #a4161a;
          border-color: #a4161a; }
        .main-reservas-form .form-lugar .form-check-input:focus {
          box-shadow: 0 0 2px 2px #a4161a; }
        .main-reservas-form .form-lugar .form-check label {
          font-size: 1em; }
    .main-reservas-form .form-aclaraciones {
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 10px; }
      .main-reservas-form .form-aclaraciones input {
        text-align: center;
        width: 100%;
        height: 150px;
        border: outset 3px white;
        border-radius: 10px;
        background: linear-gradient(to bottom right, #161a1d, #0b090a 40%);
        font-size: 1em; }
        .main-reservas-form .form-aclaraciones input:focus {
          border: outset 3px #f5f3f4;
          background: #161a1d; }

/* Responsive */
/* Tablet */
@media screen and (max-width: 856px) {
  /* Puse esta medida porque hasta ahí se mantienen bien ordenados los elementos */
  * {
    font-size: 16px; }
  .titulo {
    margin: 30px; }
  /* HEADER */
  .header {
    margin-bottom: 0; }
    .header-redes p {
      display: none; }
  /* NAV */
  .navbar {
    top: 0;
    width: 100%;
    margin-bottom: 5px; }
  .nav-logo {
    height: 80%; }
  .nav-item, .nav-item a {
    letter-spacing: 0;
    padding: 2px; }
  /* FOOTER */
  .footer {
    display: block;
    margin-top: 50px; }
    .footer__div {
      width: auto;
      margin: 5px; }
      .footer__div h4 {
        font-size: 1em; }
      .footer__div-text p {
        font-size: 0.8em; }
  /* INDEX */
  .main-image-title {
    font-weight: 400;
    letter-spacing: 0; }
  .main-texto p {
    margin: 50px 0; }
  .main-image2-title {
    font-weight: 300;
    letter-spacing: 0; }
  .main-index-div h3 {
    margin-bottom: 10px; }
  .buttonReservas {
    padding: 15px;
    margin: 50px 0 50px 0;
    letter-spacing: 0px;
    font-weight: 300; }
  /* QUIENES SOMOS */
  .carousel, .carousel-indicators, .carousel-inner {
    height: auto; }
  .quienes-text-div {
    display: flex;
    flex-direction: column; }
    .quienes-text-div:first-child {
      margin: 50px 0;
      padding: 5px; }
    .quienes-text-div p {
      margin: 2%;
      font-size: 1.5em; }
  .quienes-innerText {
    width: 100%;
    padding: 5px;
    order: 20;
    margin: 40px 0; }
    .quienes-innerText h4 {
      padding-top: 0; }
  .quienes-text-div div {
    display: block; }
  #quienes-innerImg-1 {
    width: 100%; }
  #quienes-innerImg-2 {
    width: 100%; }
  /* MENÚ */
  .main-menu-item {
    width: 80%; }
  .image-text {
    top: 45%; }
  /* EVENTOS */
  .main-eventos {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr; }
    .main-eventos div {
      width: 96%;
      margin: 10px; }
    .main-eventos p {
      text-align: center;
      border: none; }
  /* RESERVAS */
  .main-reservas {
    flex-wrap: nowrap;
    flex-direction: column; }
    .main-reservas-div {
      width: 100%; }
      .main-reservas-div h4 {
        margin-top: 15%; }
      .main-reservas-div p {
        margin: 0 20px 10% 20px; }
    .main-reservas-form {
      width: 100%; }
      .main-reservas-form div {
        margin: 10px; }
      .main-reservas-form label, .main-reservas-form legend {
        text-align: center; }
      .main-reservas-form .form-turno .form-check {
        margin-left: 23%; }
      .main-reservas-form .form-lugar .form-check {
        margin-left: 23%; } }

/* Mobile */
@media screen and (max-width: 575px) {
  * {
    font-size: 12px; }
  .titulo {
    font-size: 2.5em;
    letter-spacing: 0;
    margin: 30px 0; }
  /* HEADER */
  .header {
    display: none; }
  /* NAV */
  .navbar {
    background: #e5383b; }
    .navbar .navbar-brand-responsive {
      display: inline;
      font-size: 1.8em; }
    .navbar-nav {
      width: 50%; }
  .dropdown-menu {
    background: #e5383b;
    border: none; }
    .dropdown-menu li {
      padding: 10px; }
  .nav-item {
    letter-spacing: 3px;
    padding: 10px;
    border-bottom: solid 1px #f5f3f4;
    border-radius: 0; }
    .nav-item:last-child {
      position: static;
      border: none; }
  /* FOOTER */
  .footer__div h4 {
    font-size: 1.5em; }
  .footer__div p {
    font-size: 1em; }
  .footer__div:last-child iframe {
    width: 90%; }
  /* INDEX */
  .main-image2-title {
    padding: 5px; }
  .buttonReservas {
    margin: 25px 0 25px 0; }
  /* QUIENES SOMOS */
  .carousel, .carousel-indicators, .carousel-inner {
    height: auto; }
  .quienes-text-div h3 {
    font-size: 1.8em; }
  .quienes-text-div p {
    font-size: 1em; }
  /* MENÚ */
  .main-menu-item {
    width: 100%;
    margin: 10px 0; }
  .image-text {
    top: 45%; }
  /* EVENTOS */
  .main-eventos div {
    width: 100%;
    margin: 10px 0; }
  /* RESERVAS */
  .main-reservas {
    margin-bottom: 5vh; }
    .main-reservas-form {
      padding: 10px; }
      .main-reservas-form .form-turno .form-check {
        margin-left: 1%; }
      .main-reservas-form .form-lugar .form-check {
        margin-left: 1%; } }
