				/* ---------- RESET ---------- */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', "Times New Roman", Times, serif;
	font-weight: 300;
	color: rgb(230, 230, 230);
	font-size: 18px;
}
a {	/* Agregué este bloque porque bootstrap me cambiá el color */
	color: rgb(230, 230, 230);
}

/* ----- Formato predeterminado para los títulos ----- */
.titulo {
	text-align: center;
	text-shadow: 2px 2px 5px rgb(190, 190, 190);
	font-size: 60px;
	letter-spacing: 2px;
	color: rgb(15, 15, 15);
	margin: 50px;
}

.body-container {
	background-color: rgb(15, 15, 15);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "header"
						 "nav"
						 "body"
						 "footer";
}



					/* ---------- HEADER ---------- */


.header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.header li {
	display: inline;
}

.header-lang {
	margin: 10px;
	display: flex;
	align-items: flex-start;
}
.header-lang li {
	display: inline;
}
.header-lang li img {
	width: 26px;
	height: 20px;
	margin: 0 3px;
}

.header-redes {
	display: inline-grid;
	justify-items: end;
	list-style-type: none;
	margin: 10px 0px 0px 10px;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-template-areas: "head" 
						 "foot";
}
.header-redes ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.header-redes li {
	grid-area: foot;
	margin: 0 10px;
}
.header-redes p {
	font-size: 18px;
	width: 100%;
	flex-shrink: 0;
	grid-area: head;
	text-align: center;
	margin-bottom: 3px;
}
.header-lang li img:hover, .header-redes i:hover{
	opacity: .5;
}



					/* ---------- BARRA DE NAVEGACIÓN --------- */

.navbar{
	background: rgba(128, 0, 0, .8);
	border: outset 3px rgb(150, 150, 150);
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 90%;
	padding: 0;
	position: sticky;
	top: 10px;
	z-index: 100;
	padding: 3px;
}

.navbar-brand-responsive {
	display: none;
}
.navbar-toggler {
	padding: 8px;
}


.navbar-brand {
	height: 69px;
}
.nav-logo {
	height: 100%;
}
.nav-logo:hover{
	opacity: .7;
}

.navbar-collapse{
	width: 100%;
}
.navbar-nav {
	width: 100%;
}
.nav-item, .nav-item a {
	display: inline;
	letter-spacing: 2px;
	border-radius: 5px;
	color: rgb(230, 230, 230);
	text-decoration: none;
	padding: 5px;
}

.nav-item:hover{
	background-color: rgb(40, 40, 40,.7);
}

.nav-link {
	color: rgb(230, 230, 230);
}
.dropdown-menu {
	background: rgba(128, 0, 0, .8);
	border: outset 3px rgb(150, 150, 150);
	border-radius: 5px;
}
.dropdown-menu li {
	margin: 10px;
}
.dropdown-item {
	color: rgb(230, 230, 230);
}
.dropdown-item:hover{
	background-color: rgb(40, 40, 40,.7);
}



					/* ---------- FOOTER ---------- */

footer {
	grid-area: footer;
}
.footer {
	display: flex;
	justify-content: space-around;
}

.footer__div {
	flex-grow: 1;
	margin: .5%;
	border: outset 2px rgb(190, 190, 190);
	height: 30vh;
}

.footer__div h4 {
	font-size: 20px;
	margin: 5px;
	text-decoration: underline;
}

.btn-up {
	display: inline-block;
	text-decoration: none;
	border: outset 2px rgb(190, 190, 190);
	padding: 5px;
	margin: 10px;
}

.btn-up:hover {
	background-color: rgb(40, 40, 40);
	color: rgb(190, 190, 190);
	border: outset 2px rgb(140, 140, 140);
}



					/* --------- PÁGINA INDEX --------- */


.main-image {
	background-image:url("../assets/img/frente1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:30rem;
	max-width: 100%;
	position: relative
}
.main-image-text {
	background-color: rgb(190, 190, 190, .5);;
	color: rgb(15, 15, 15);
	border-radius: 50px;
	padding: 0 15px;
	text-align: center;
	position: absolute;
	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}
.main-image-title {
	background-color: transparent;
	color: rgb(15, 15, 15);
	text-shadow: 2px 2px 5px rgb(190, 190, 190);
	font-size: 70px;
	font-weight: 500;
	letter-spacing: 2px;
}

.main-texto {
	margin: 8%;
}
.main-texto p {
	font-size: 25px;
	text-align: center;
	margin: 100px 0;
}

.main-image2 {
	background-image:url("../assets/img/frente2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:20rem;
	max-width: 100%;
	position: relative;
}
.main-image2-text {
	background-color: rgb(190, 190, 190, .5);
	color: rgb(15, 15, 15);
	border-radius: 50px;
	padding: 0 15px;
	text-align: center;
	position: absolute;
	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}
.main-image2-title {
	background-color: transparent;
	padding: 10px;
	color: rgb(15, 15, 15);
	text-shadow: 2px 2px 5px rgb(190, 190, 190);
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 2px;
}

.main-index-div {
	margin: 100px 0;
	text-align: center;
}
.main-index-div h3 {
	font-size: 50px;
	margin-bottom: 20px;
}
.main-index-div p {
	font-size: 18px;
}


.main-buttonReservas {
	width: 100%;
}
.buttonReservas {
	display: inline-block;
	position: relative;
	top: 50%;
 	left: 50%;
	margin: 50px 0 100px 0;
	padding: 20px;
	background-color: rgb(128, 0, 0);
	border: outset 3px rgb(190, 190, 190);
	border-radius: 3px;
	letter-spacing: 3px;
	transform: translate(-50%, -50%); 
}
.buttonReservas h3 {
	font-size: 30px;
}
.buttonReservas a {
	text-decoration: none;
}
.buttonReservas:hover {
	background-color: rgb(51, 00, 00);
	color: rgb(190, 190, 190);
	border: outset 3px rgb(140, 140, 140);
}



					/* --------- PÁGINA QUIENES SOMOS --------- */

.carousel {
	width: 100%;
}
.carousel-inner {
	width: 100%;
	height: 80vh;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	background-color: rgba(128, 0, 0, .8);
	border-radius: 100%;
}

.quienes-text {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 10vh;
}

.quienes-text-div {
	width: 100%;
}

.quienes-text-div:first-child {
	margin: 100px 0;
}

.quienes-innerText h3 {
	margin-bottom: 3%;
	font-size: 20px;
}
.quienes-innerText p {
	font-size: 16px;
}

.quienes-text-div div {
	display: inline-block;
}

.quienes-innerText {
	width: 30%;
}

#quienes-innerImg-1 {
	width: 50%;
}
#quienes-innerImg-1 img {
	width: 100%;
	margin-left: 15%;
}
#quienes-innerImg-2 {
	width: 50%;
	position: relative;
	left: 0;
}
#quienes-innerImg-2 img {
	width: 100%;
	position: relative;
	left: 0;
}





					/* --------- PÁGINA MENU --------- */


.main-menu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-evenly;
}

.main-menu-title {
	width: 100%;
	flex-shrink: 0;
}

.main-menu-item {
	width: 45%;
	margin: 2%;
	position: relative;
}

.image-text {
	background-color: rgb(128, 0, 0, .5);;
	border-radius: 50px;
	padding: 0 15px;
	position: absolute;
	top: 35%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	z-index: 50;
}
.image-text h3 {
	background-color: transparent;
	color: rgb(190, 190, 190);
	text-shadow: 2px 2px 5px rgb(15, 15, 15);
	font-size: 35px;
	letter-spacing: 2px;
}

.main-menu-item img{
	width: 100%;
	border: outset 3px rgb(140, 140, 140);
}



					/* --------- PÁGINA EVENTOS --------- */


.main-eventos {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.main-eventos div {
	border: outset 3px rgb(190, 190, 190);
	background: linear-gradient(to left top,rgba(15, 15, 15,.5),rgba(100, 0, 0,.5));
	margin: 3%;
}
.main-eventos div p {
	margin: 10px;
	text-align: justify;
	font-size: 18px;
}

.main-eventos div img {
	width: 100%;
	height: 100%;
}



					/* --------- PÁGINA RESERVAS --------- */

	
.reservas-form {
	margin: 5%;
	padding: 40px;
	background: rgba(128, 0, 0, .7);
	color: rgb(30, 30, 30);
	border: outset 3px rgb(190, 190, 190);
	border-radius: 5px;
}
.reservas-form label, .reservas-form legend {
	color: rgb(220, 220, 220);
	font-weight: 300;
	text-align: center;
}

.form-datos {
	width: 50%;
	padding: 5px;
	border: outset 2px rgb(220, 220, 220);
	border-radius: 10px;
	background-color: rgb(30, 30, 30);
}
.form-datos:focus {
	border: groove 2px rgb(150, 150, 150);
	background-color: rgb(60, 60, 60);
}

.form-selection {
	padding: 5px;
	border: outset 2px rgb(220, 220, 220);
	border-radius: 10px;
	background-color: rgb(30, 30, 30);
}
.form-selection option{
	color: rgb(220, 220, 220);
}
.form-selection:focus{
	border: groove 2px rgb(150, 150, 150);
	background-color: rgb(60, 60, 60);
}

.form-comentarios {
	width: 80%;
	height: 150px;
	border: outset 2px rgb(220, 220, 220);
	border-radius: 10px;
	background-color: rgb(30, 30, 30);
	font-size: 14px;
}
.form-comentarios:focus {
	border: groove 2px rgb(150, 150, 150);
	background-color: rgb(60, 60, 60);
}





								/* __________ 	RESPONSIVE 	TABLET	__________ */


@media screen and (max-width: 856px) { /* Puse esta medida porque hasta ahí se mantienen bien ordenados los elementos */


* {
	font-size: 16px;
}
.titulo {
	font-size: 50px;
	margin: 30px;
}


		/* ---------- HEADER ---------- */

.header {
	margin-bottom: 0;
}
.header-redes p {
	display: none;
}



		/* ---------- NAV---------- */

.navbar {
	top: 0;
	width: 100%;
	margin-bottom: 5px;
}

.nav-logo {
	height: 80%;
}

.nav-item, .nav-item a {
	letter-spacing: 0;
	padding: 2px;
}


		/* ---------- FOOTER ---------- */

.footer {
	display: block;
	margin-top: 50px;
}
.footer__div h4 {
	font-size: 16px;
}



		/* ---------- INDEX ---------- */


.main-image-title {
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 0;
}

.main-texto p {
	font-size: 20px;
	margin: 50px 0;
}

.main-image2-title {
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 0;
}

.main-index-div h3 {
	font-size: 40px;
	margin-bottom: 10px;
}
.main-index-div p {
	font-size: 16px;
}

.buttonReservas {
	padding: 15px;
	margin: 50px 0 50px 0;
	letter-spacing: 0px;
}
.buttonReservas h3 {
	font-size: 25px;
	font-weight: 300;
}


		/* ---------- QUIENES SOMOS---------- */


		/* ---------- MENÚ---------- */

.main-menu-item {
	width: 80%;
}

.image-text {
	top: 45%;
}



		/* ---------- EVENTOS---------- */

.main-eventos {
	grid-template-rows: auto auto auto auto;
	grid-template-columns: 1fr;
}

.main-eventos div {
	width: 96%;
	margin: 10px;
}
.main-eventos div p {
	font-size: 16px;
}

}


		

								/*_________ 	RESPONSIVE 	MOBILE	_________ */


@media screen and (max-width: 575px) {

* {
	font-size: 14px;
}
.titulo {
	font-size: 40px;
	letter-spacing: 0;
	margin: 30px;
}


		/* ---------- HEADER ---------- */

.header {
	display: none;
}


		/* ---------- NAV ---------- */

.navbar-brand-responsive {
	display: inline;
	font-size: 20px;
}



		/* ---------- FOOTER ---------- */

.footer__div h4 {
	font-size: 12px;
}


		/* ---------- INDEX ---------- */

.main-image-title {
	font-size: 35px;
}

.main-texto p {
	font-size: 16px;
}

.main-image2-title {
	font-size: 25px;
	padding: 5px;
}
.main-image2-text h3 {
	font-size: 20px;
}

.main-index-div h3 {
	font-size: 30px;
}
.main-index-div p {
	font-size: 14px;
}

.buttonReservas {
	margin: 25px 0 25px 0;
}
.buttonReservas h3 {
	font-size: 20px;
	font-weight: 300;
}


		/* ---------- QUIENES SOMOS ---------- */
.img-container {
	flex-wrap: wrap;
}
.img-container img {
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	margin: 10px 0;
}


		/* ---------- MENÚ---------- */

.main-menu-item {
	width: 100%;
	margin: 10px 0;
}

.image-text {
	top: 45%;
}


		/* ---------- EVENTOS---------- */

.main-eventos div {
	width: 100%;
	margin: 10px 0;
}
.main-eventos div p {
	font-size: 14px;
}

}