$bordes: (
	ter1: outset 3px map-get($colores,ter),
	ter2: outset 3px map-get($colores,terHover),
	ter3: outset 3px map-get($colores,terActive),
	sec1: outset 3px map-get($colores,sec1),
	sec2: outset 3px map-get($colores,sec2),
	secSimple: solid 1px map-get($colores,sec2),
);

$borderRadius: (
	nav: 5px,
	redondo: 100%,
	body: 10px,
	titulo: 50px
);