$bordes: (
	gris: outset 3px rgb(0,0,0),
	grisHover: outset 3px rgb(0,0,0),
	blanco: outset 3px rgb(0,0,0),
	blancoHover: outset 3px rgb(0,0,0)
);

$borderRadius: (
	nav: 5px,
	redondo: 100%,
	body: 10px,
	ninguno: 0
	);