$bordes: (
	gris: outset 3px map-get($colores,gris),
	grisHover: outset 3px map-get($colores,grisHover),
	grisActive: outset 3px map-get($colores,grisActive),
	blanco: outset 3px map-get($colores,blanco1),
	blancoHover: outset 3px map-get($colores,blanco2),
	blancoSimple: solid 1px map-get($colores,blanco1)
);

$borderRadius: (
	nav: 5px,
	redondo: 100%,
	body: 10px,
	ninguno: 0
);