$colores: (
	fondo: rgb(15, 15, 15),
	negro: rgb(40, 40, 40),
	negroTras: rgba(40, 40, 40, .7),
	rojo1: rgb(170, 0, 0),
	rojo2: rgb(128, 0, 0),
	rojoTras: rgba(128, 0, 0, 0.8),
	rojoHover: rgb(90, 0, 0),
	blanco1: rgb(220, 220, 220),
	blanco2: rgb(190, 190, 190),
	blancoTras: rgba(190, 190, 190, .5),
	gris: rgb(150, 150, 150),
	grisHover: rgb(120, 120, 120),
	grisActive: rgb(90, 90, 90)
);
