/*$colores: (
	fondo1: rgb(15, 15, 15),
	fondo2: rgb(40, 40, 40),
	fondoTras: rgba(40, 40, 40, .7),
	ppal1: rgb(170, 0, 0),
	ppal2: rgb(128, 0, 0),
	ppalTras: rgba(128, 0, 0, 0.9),
	ppalHover: rgb(90, 0, 0),
	ppalActive: rgb(70, 0, 0),
	sec1: rgb(220, 220, 220),
	sec2: rgb(190, 190, 190),
	secTras: rgba(190, 190, 190, .5),
	ter: rgb(150, 150, 150),
	terHover: rgb(120, 120, 120),
	terActive: rgb(90, 90, 90)
);*/

$colores: (
	fondo1: rgb(11,9,10),
	fondo2: rgb(22,26,29),
	fondoTras: rgba(22,26,29,.8),
	ppal1: rgb(164,22,26),
	ppal2: rgb(229,56,59),
	ppalTras: rgba(186,24,27,.8),
	ppalHover: rgb(102,7,8),
	ppalActive: rgb(80,7,8),
	sec1: rgb(255,255,255),
	sec2: rgb(245,243,244),
	secTras: rgba(245,245,245,.5),
	ter: rgb(177,167,166),
	terHover: rgb(140, 130, 130),
	terActive: rgb(110, 100, 100)
);
