.main-eventos {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;

	div {
		border: outset 3px rgb(190, 190, 190);
		background: linear-gradient(to left top,rgba(15, 15, 15,.5),rgba(100, 0, 0,.5));
		margin: 3%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	p {
		margin: 10px;
		text-align: justify;
		font-size: 18px;
	}
}
