.main-eventos {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;

	div {
		margin-bottom: 10vh;

		img {
			width: 100%;
		}
	}

	p {
		padding: 5px;
		margin: 30px;
		text-align: right;
		border-right: map-get($bordes,blancoSimple);
		font-size: map-get($fontSizes,parrafoL);
	}
}
