.main-image {
	background-image:url("../assets/img/frente1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:30rem;
	max-width: 100%;
	position: relative;

	&-text {
		background-color: map-get($colores,blancoTras);
		color: map-get($colores,fondo);
		border-radius: 50px;
		padding: 0 15px;
		@include centrarTexto;
	}

	&-title {
		background-color: transparent;
		color: map-get($colores,fondo);
		text-shadow: 2px 2px 5px map-get($colores,rojo2);
		font-size: map-get($fontSizes, titulo);
		font-weight: 500;
		letter-spacing: 2px;
	}
}

.main-texto {
	margin: 8%;
	p {
		font-size: map-get($fontSizes, parrafoL);
		text-align: center;
		margin: 100px 0;
	}
}

.main-image2 {
	background-image:url("../assets/img/frente2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:20rem;
	max-width: 100%;
	position: relative;

	&-text {
		background-color: map-get($colores,blancoTras);
		color: map-get($colores,fondo);
		border-radius: 50px;
		padding: 0 15px;
		@include centrarTexto;

 		h3 {
 			font-size: map-get($fontSizes, subsubt);
 		}
	}

	&-title {
		background-color: transparent;
		padding: 10px;
		color: rgb(15, 15, 15);
		text-shadow: 2px 2px 5px map-get($colores,blanco1);
		font-size: map-get($fontSizes, subt);
		font-weight: 400;
		letter-spacing: 2px;
	}
}

.main-index-div {
	margin: 100px 0;
	text-align: center;

	h3 {
		font-size: map-get($fontSizes, subsubt);
		margin-bottom: 20px;
	}

	p {
		font-size: map-get($fontSizes, parrafoM);
	}
}

.main-buttonReservas {
	width: 100%;
}

.buttonReservas {
	display: inline-block;
	position: relative;
	margin: 50px 0 100px 0;
	padding: 20px;
	background-color: map-get($colores,rojo2);
	border: outset 3px rgb(190, 190, 190);
	border-radius: 3px;
	letter-spacing: 3px;
 	@include centrar;

	h3 {
		font-size: map-get($fontSizes, subsubt);
	}

	a {
		text-decoration: none;
	}

	&:hover {
		background-color: map-get($colores,rojoHover);
		color: map-get($colores,blanco2);
		border: outset 3px rgb(140, 140, 140);
	}
}
