.main-menu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-evenly;

	&-title {
		width: 100%;
		flex-shrink: 0;
	}

	&-item {
		width: 45%;
		margin: 2%;
		position: relative;
		background-color: map-get($colores,fondo);
		border-bottom: none;

		img {
			width: 100%;
			border-radius: map-get($borderRadius,body);
		}

		.accordion-header {

			.accordion-button {
				background-color: map-get($colores,rojoTras);
				font-size: map-get($fontSizes, subt);
				color: map-get($colores,blanco2);
				text-shadow: 2px 2px 5px map-get($colores,fondo);
				letter-spacing: 2px;
				text-align: center;
				position: absolute;
				top: 10%;
 				width: 100%;

 				&:focus {
 					box-shadow: 0 0 5px 5px map-get($colores,blanco2);
 				}
			}
		}

		.accordion-collapse {
			background-color: map-get($colores,rojo2);

			.accordion-body {

				p:first-child {
					text-align: center;
					border-bottom: map-get($bordes,blancoSimple);
					padding: 20px;
				}

				h3 {
					font-size: map-get($fontSizes, parrafoL);
				}

				p {
					font-size: map-get($fontSizes, parrafoM);
					text-align: center;
				}
			}
		}
	}
}

