.carousel {
	width: 100%;

	&-inner {
		@include tamanio(100%,80vh);
	}

	&-control-prev-icon, &-control-next-icon {
		background-color: map-get($colores,ppalTras);
		border-radius: map-get($borderRadius,redondo);
	}
}

.quienes-text {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 10vh;

	&-div {
		width: 100%;

		&:first-child {
			margin: 100px 0;
		}

		div {
			display: inline-block;
		}

		h3 {
			font-size: map-get($fontSizes,subt);
		}
		p {
			font-size: map-get($fontSizes,parrafoM);
		}
	}
}

.quienes-innerText {
	width: 30%;
	padding: 5px;

	h4 {
		margin-bottom: 3%;
		font-size: map-get($fontSizes,subsubt);
		padding-top: 20%;
	}

	p {
		font-size: map-get($fontSizes,parrafoS);
		margin: 3%;
	}
}

#quienes-innerImg-1 {
	width: 55%;
	float: right;

	img {
		width: 100%;
	}
}

#quienes-innerImg-2 {
	width: 60%;
	float: left;

	img {
		width: 100%;
	}
}
