
.main-reservas {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 10vh;

	&-div {
		width: 45%;
		text-align: center;

		h3 {
			margin-top: 10%;
			font-size: map-get($fontSizes, subt);
		}

		h4 {
			margin-top: 40%;
			font-size: map-get($fontSizes, subsubt);
		}

		p {
			font-size: map-get($fontSizes, parrafoM);
			margin: 20px;
		}
	}

	&-form {
		padding: 40px;
		width: 45%;
		margin-top: 5%;
		background-image: linear-gradient(to bottom right, map-get($colores,negro),map-get($colores,fondo)40%);
		display: flex;
		flex-direction: column;
		align-items: center;
		color: map-get($colores,blanco1);
		font-weight: 300;

		div {
			margin: 10px;
		}

		label, legend {
			text-align: center;
		}

		.form-datos {
			width: 100%;
			padding: 10px;
			border: map-get($bordes,blanco1);
			border-radius: map-get($borderRadius, body);
			background-color: map-get($colores,fondo);
			margin-bottom: 10px;
			font-size: map-get($fontSizes, parrafoM);

			&:focus {
				border: map-get($bordes,blanco2);
				background-color: map-get($colores,negro);
			}
		}

		.form-comensales {
			text-align: center;
			margin-bottom: 10px;

			label {
				font-size: map-get($fontSizes, parrafoL);
			}

			.form-selection {
				padding: 10px;
				border: map-get($bordes,blanco1);
				border-radius: map-get($borderRadius, body);
				background-color: map-get($colores,fondo);

				option {
					color: map-get($colores,blanco1);
				}

				&:focus{
					border: map-get($bordes,blanco2);
					background-color: map-get($colores,negro);
				}
			}
		}

		.form-turno {
			font-size: map-get($fontSizes, parrafoL);
			margin-bottom: 10px;

			.form-check {
				margin-left: 10%;

				&-input:checked {
					background-color: map-get($colores,rojo1);
					border-color: map-get($colores,rojo1);
				}
				&-input:focus {
					box-shadow: 0 0 2px 2px map-get($colores,rojo1);
				}

				label {
					font-size: map-get($fontSizes, parrafoM);
				}
			}
		}

		.form-lugar {
			font-size: map-get($fontSizes, parrafoL);
			margin-bottom: 10px;

				.form-check {
					margin-left: 10%;

					&-input:checked {
						background-color: map-get($colores,rojo1);
						border-color: map-get($colores,rojo1);
					}
					&-input:focus {
						box-shadow: 0 0 2px 2px map-get($colores,rojo1);
					}

					label {
						font-size: map-get($fontSizes, parrafoM);
					}
			}
		}

		.form-aclaraciones {
			text-align: center;
			font-size: map-get($fontSizes, parrafoL);
			margin-bottom: 10px;
			
			input {
				text-align: center;
				@include tamanio(100%,150px);
				border: map-get($bordes,blanco1);
				border-radius: map-get($borderRadius, body);
				background: linear-gradient(to bottom right, map-get($colores,negro),map-get($colores,fondo)40%);
				font-size: map-get($fontSizes, parrafoM);

				&:focus {
					border: map-get($bordes,blanco2);
					background: linear-gradient(to bottom right, rgb(45,45,45),rgb(30,30,30)40%);
				}
			}
		}
	}
}

