.body-container {
	background-color: map-get($colores,fondo);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "header"
						 "nav"
						 "body"
						 "footer";
}