footer {
	grid-area: footer;
}

.footer {
	display: flex;
	justify-content: space-around;

	&__div {
		flex-grow: 1;
		margin: .5%;
		border: map-get($bordes,sec1);
		height: 30vh;

		&:first-child {
			flex-grow: 1.5;
		}

		h4 {
			font-size: map-get($fontSizes,parrafoM);
			margin: 5px;
			text-decoration: underline;
		}
	}
}