.navbar {
	background: map-get($colores,rojoTras);
	border: map-get($bordes,blanco2);
	border-radius: map-get($borderRadius,nav);
	margin: 0 auto;
	margin-bottom: 20px;
	width: 90%;
	padding: 0;
	position: sticky;
	top: 10px;
	z-index: 100;
	padding: 3px;

	&-brand-responsive {
		display: none;
	}

	&-toggler {
		padding: 8px;
	}

	&-brand {
		height: 69px;
	}

	&-logo {
		height: 100%;
		&:hover {
			opacity: .7;
		}
	}

	&-collapse{
		width: 100%;
	}

	&-nav {
		width: 100%;
	}
}

.nav-item, .nav-item a {
	display: inline;
	letter-spacing: 2px;
	border-radius: map-get($borderRadius,nav);
	color: map-get($colores,blanco1);
	text-decoration: none;
	padding: 5px;
}

.nav-item:last-child {
	position: absolute;
	right: 10px;
	border-left: map-get($bordes,blancoSimple);
	border-radius: 0;
}

.nav-link {
	color: map-get($colores,blanco1);

	&:hover {
		background: map-get($colores,negroTras);
	}
}

.dropdown-menu {
	background: map-get($colores,rojoTras);
	border: map-get($bordes,blanco2);
	border-radius: map-get($borderRadius,nav);

	li {
		margin: 10px;

		.dropdown-item {
			color: map-get($colores,blanco1);
	
			&:hover {
				background-color: map-get($colores,negroTras);
			}
		}
	}
}


