.buttonContainer {
	width: 100%;
}

.button {
	background-color: map-get($colores,ppal2);
	border: map-get($bordes,sec1);
	border-radius: map-get($borderRadius,body);

	a {
		text-decoration: none;
	}

	&:hover {
		background-color: map-get($colores,ppalHover);
		color: map-get($colores,sec2);
		border: map-get($bordes,sec2);
	}

	&:active {
		opacity: .8;
	}

	&-index {
		display: inline-block;
		position: relative;
		margin: 50px 0 100px 0;
		padding: 20px;
		letter-spacing: 3px;
 		@include centrar;
	}

	&-reservas {
		margin-top: 20px;
		font-size: map-get($fontSizes, parrafoM);
		padding: 10px;
	}
}

.button-up {
	display: inline-block;
	text-decoration: none;
	border: map-get($bordes,sec1);
	padding: 5px;
	margin: 10px;
	
	&:hover {
		background-color: map-get($colores,fondo2);
	}

	&:active {
		background-color: map-get($colores,fondo1);
		border: map-get($bordes,ter1);
		color: map-get($colores,ter);
	}
}