@media screen and (max-width: 575px) {

	* {
		font-size: 12px;
	}
	.titulo {
		font-size: map-get($fontSizes, subt);
		letter-spacing: 0;
		margin: 30px 0;
	}


		/* HEADER */

	.header {
		display: none;
	}


		/* NAV */

	.navbar {
		background: map-get($colores,ppal2);

		.navbar-brand-responsive {
			display: inline;
			font-size: map-get($fontSizes,subsubt);
		}

		&-nav{
			width: 50%;
		}
	}
	
	.dropdown-menu {
		background: map-get($colores,ppal2);
		border: none;

		li {
			padding: 10px;
		}
	}

	.nav-item {
		letter-spacing: 3px;
		padding: 10px;
		border-bottom: map-get($bordes,secSimple);
		border-radius: 0;

		&:last-child {
			position: static;
			border: none;
		}
	}


		/* FOOTER */

	.footer__div h4 {
		font-size: map-get($fontSizes,parrafoL);
	}


		/* INDEX */

	.main-image2-title {
		padding: 5px;
	}

	.buttonReservas {
		margin: 25px 0 25px 0;
	}


		/* QUIENES SOMOS */

	.carousel, .carousel-indicators, .carousel-inner {
		height: auto;
	}

	.quienes-text {

		&-div {

			h3 {
				font-size: map-get($fontSizes,subsubt);
			}
			p {
				font-size: map-get($fontSizes,parrafoM);
			}
		}
	}


		/* MENÚ */

	.main-menu-item {
		width: 100%;
		margin: 10px 0;
	}

	.image-text {
		top: 45%;
	}


		/* EVENTOS */

	.main-eventos div {
		width: 100%;
		margin: 10px 0;
	}


	/* RESERVAS */

	.main-reservas {
		margin-bottom: 5vh;

		&-form {
			padding: 10px;

			.form-turno {

				.form-check {
					margin-left: 1%;
				}

			}

			.form-lugar {

				.form-check {
					margin-left: 1%;
				}
			}
		}
	}
}