* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', "Times New Roman", Times, serif;
	font-weight: 300;
	color: map-get($colores,blanco1);
	font-size: 18px;
}

/* Agregué este bloque porque bootstrap me cambiá el color */
a {	
	color: map-get($colores,blanco1);
}
